.navbar-brand {
    border-right : 1px dashed;
    padding-right: 15px;
}

.bg_mountains {
    background: url(../images/bg_mountains.jpg) no-repeat center;
    background-size: cover;
}

.full-width{
    width : 100%;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
  }